<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="javascript.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>IT-help MKIP</title>
</head>
<body onload="init();">
    <table border="0" cellpadding="5" id="completeTable">
        <tr>
            <th><strong>Введіть Ваше прізвище:</strong></th>
            <th><input type="text" size="40" id="completeField" onkeyup="doCompletion();"></th>
        </tr>
        <tr>
            <td id="auto-row" colspan="2"></td>
        </tr>
    </table>
</body>
</html>